In [1]:
%matplotlib inline

import json 

import pandas as pd

In [2]:
import matplotlib as mpl 

import matplotlib.pyplot as plt

In [3]:
from ggplot import theme_bw

theme = theme_bw()

mpl.rcParams.update(theme.get_rcParams())

/Users/g4brielvs/.pyenv/versions/jupyter/lib/python3.6/site-packages/ggplot/utils.py:81: FutureWarning: pandas.tslib is deprecated and will be removed in a future version.
You can access Timestamp as pandas.Timestamp
  pd.tslib.Timestamp,
/Users/g4brielvs/.pyenv/versions/jupyter/lib/python3.6/site-packages/ggplot/stats/smoothers.py:4: FutureWarning: The pandas.lib module is deprecated and will be removed in a future version. These are private functions and can be accessed from pandas._libs.lib instead
  from pandas.lib import Timestamp
/Users/g4brielvs/.pyenv/versions/jupyter/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [4]:
import sys
sys.path.append('../mobility_data_retrieval/')

from taxonomy import Taxonomy, get_taxonomy_from_file, get_column_from_file, get_tag_from_file

# Taxonomy

The first step of the script is creating a JSON to keep the taxonomy centralized and up-to-date.

In [5]:
with open('taxonomy.json') as f:
    data = json.load(f)

In [6]:
tax = Taxonomy(data)

In [7]:
with open('regions.json') as f:
    data = json.load(f)

In [8]:
regions = Taxonomy(data, '05-reg_')

# Data

We are working with S1 and S2. The dataset S1 contains information from the Czech Statistical Office (CSO) the S2 contains information from the mobile networks

In [9]:
SRC_HEADER = '/Users/g4brielvs/Desktop/TAXONOMY_20180313/03-hed_tertiaryL1data.csv'
SRC_HEADER_NAMES = '/Users/g4brielvs/Desktop/TAXONOMY_20180313/03-hed_nam.csv'

HEADER = get_column_from_file(SRC_HEADER)
NAMES_HEADER = get_column_from_file(SRC_HEADER_NAMES)

## Import names

In [10]:
SRC_NAMES = '/Users/g4brielvs/Desktop/TAXONOMY_20180313/02-nam_LAU2.csv'

NAMES = pd.read_csv(SRC_NAMES, sep=',', names=NAMES_HEADER)

## Import data

In [11]:
SRC_S1 = '/Users/g4brielvs/Desktop/data_plot/1-00-nr_2-50-COM_3-01-L1_4-01-cso_5-01-ver_6-01-pop_7-03-lau2_8-99-na_9-10-res00_10-99-na_11-99-na_12-02-uni_13-99-na_14-99-na_15-99-na_16-99-na_17-99-na_18-99-na_19-99-na.csv'
SRC_S2 = '/Users/g4brielvs/Desktop/data_plot/1-33-ter_2-04-TACSU_3-01-L1_4-02-o2_5-01-ver_6-01-pop_7-03-lau2_8-03-ngt_9-06-res03_10-99-na_11-99-na_12-02-uni_13-99-na_14-99-na_15-99-na_16-99-na_17-99-na_18-99-na_19-99-na.csv'

S1 = pd.read_csv(SRC_S1, header=None, names=HEADER)
S2 = pd.read_csv(SRC_S2, header=None, names=HEADER)

## Import lists

In [22]:
SRC_LIST_REGIONS = '/Users/g4brielvs/Desktop/TAXONOMY_20180313/1-20-lst_2-06-PhaJZ_3-03-la2.csv'

LIST_REGIONS = get_column_from_file(SRC_LIST)

## Working on the data

### Merging datasets S1 and S2

In [13]:
df1 = S1[S1.apply(lambda x: x['rO1ID'] in LIST_REGIONS, axis=1)]
df2 = S2[S2.apply(lambda x: x['rO1ID'] in LIST_REGIONS, axis=1)]

len(df1), len(df2)

(68, 900)

In [15]:
df = pd.merge(df1, df2, on=['rO1ID'], how='outer')

df.describe()

               rO1ID       data1_x  casUsID_y      data1_y
count     908.000000    908.000000      900.0   900.000000
mean   537614.870044   1579.912996        3.0   383.674444
std     13627.848082   2907.283135        0.0   772.273566
min    531057.000000     88.000000        3.0     8.000000
25%    531740.000000    300.500000        3.0    79.000000
50%    533203.000000    607.000000        3.0   169.000000
75%    539198.000000   1110.000000        3.0   328.000000
max    599727.000000  18819.000000        3.0  6819.000000

### Filtering out irrelevant information

Keeping only the information for calculating the averages

In [18]:
columns_to_keep = ['rO1ID', 'denID_y', 'data1_x', 'data1_y']

df = df[columns_to_keep]

### Creating weekday

At first, the criteria for creating the grops is based on weekday. In the future, this selection will be more flexible to include other types of filtering

In [21]:
df['denID_y'] = pd.to_datetime(df['denID_y'])

df['weekday'] = df['denID_y'].apply(lambda x: x.weekday())

### Grouping by criteria

In [17]:
for l in in 

groups = ['D{i}}'.format(i) for in in LIST]

In [18]:
#g = df.groupby(['rO1ID'])

D2 = df[df['weekday'].isin(range(0, 7))]
D3 = df[df['weekday'].isin([1, 2, 3])]
D4 = df[df['weekday'].isin([5, 6])]

In [19]:
f = {'data1_x':['first'], 'data1_y':['mean']}

G2 = D2.groupby(['rO1ID']).agg(f).reset_index()
G2.set_index('rO1ID', inplace=True)

G3 = D3.groupby(['rO1ID']).agg(f).reset_index()
G3.set_index('rO1ID', inplace=True)

G4 = D4.groupby(['rO1ID']).agg(f).reset_index()
G4.set_index('rO1ID', inplace=True)

In [20]:
df = pd.DataFrame(data=None, index=G2.index)

df['G1'] = G2['data1_x']
df['G2'] = G2['data1_y']
df['G3'] = G3['data1_y']
df['G4'] = G4['data1_y']

In [39]:
df['avg2'] = df['G2']/df['G1']
df['avg3'] = df['G3']/df['G1']
df['avg4'] = df['G4']/df['G1']

df = df.dropna(axis=0, how='any')

df

           G1           G2           G3       G4      avg2      avg3      avg4
rO1ID
531057  18819  5297.200000  6291.285714  4171.75  0.281481  0.334305  0.221678
531103    401   106.333333   121.714286    91.50  0.265170  0.303527  0.228180
531138   1079   225.733333   275.571429   182.75  0.209206  0.255395  0.169370
531154    712   138.266667   167.714286   111.50  0.194195  0.235554  0.156601
531171    902   239.133333   300.285714   187.50  0.265115  0.332911  0.207871
531189   6951  1266.933333  1584.714286   953.25  0.182266  0.227984  0.137139
531243   1582   295.533333   360.142857   236.50  0.186810  0.227650  0.149494
531316    799   220.200000   261.142857   188.25  0.275594  0.326837  0.235607
531332    212    65.733333    78.428571    54.75  0.310063  0.369946  0.258255
531472   1136   333.533333   415.000000   262.25  0.293603  0.365317  0.230854
531529    307   100.600000   121.857143    79.25  0.327687  0.396929  0.258143
531545    829   186.666667   220.571429   153.50  0.225171  0.266069  0.185163
531634    761   283.866667   348.428571   224.00  0.373018  0.457856  0.294350
531693    867   178.600000   225.428571   133.50  0.205998  0.260010  0.153979
531740    449   145.733333   168.142857   130.50  0.324573  0.374483  0.290646
531758    479   152.600000   182.571429   130.00  0.318580  0.381151  0.271399
531766    412   125.066667   155.428571    95.50  0.303560  0.377254  0.231796
531782    424   163.200000   198.285714   131.50  0.384906  0.467655  0.310142
531804    163   104.866667   120.857143    90.75  0.643354  0.741455  0.556748
531812    581   117.466667   139.714286   100.25  0.202180  0.240472  0.172547
531839    821   224.333333   267.142857   183.00  0.273244  0.325387  0.222899
531847   1009   181.733333   230.285714   130.50  0.180112  0.228232  0.129336
531855   1035   397.733333   479.000000   325.00  0.384283  0.462802  0.314010
531901    616   188.400000   227.714286   149.00  0.305844  0.369666  0.241883
531979    757   195.666667   241.857143   159.75  0.258476  0.319494  0.211030
532002    481    77.733333    94.571429    62.00  0.161608  0.196614  0.128898
532011   4099   866.333333  1080.571429   649.75  0.211352  0.263618  0.158514
532029   2173   411.200000   503.428571   326.00  0.189231  0.231674  0.150023
533106    355   143.333333   174.428571   112.50  0.403756  0.491348  0.316901
533203   6861  1730.733333  2120.857143  1331.00  0.252257  0.309118  0.193995
533793     97    45.600000    55.571429    35.50  0.470103  0.572901  0.365979
533912    142    28.066667    34.428571    22.00  0.197653  0.242455  0.154930
534048    225    73.666667    89.571429    60.00  0.327407  0.398095  0.266667
534072    279   174.933333   215.571429   140.25  0.627001  0.772657  0.502688
534111    158    36.600000    46.428571    26.75  0.231646  0.293852  0.169304
534145    217    51.400000    61.857143    43.25  0.236866  0.285056  0.199309
534218    109    43.533333    52.857143    36.00  0.399388  0.484928  0.330275
534234     90    39.066667    47.428571    31.50  0.434074  0.526984  0.350000
534285    201    64.466667    76.714286    54.75  0.320730  0.381663  0.272388
534421    212    90.266667   111.571429    69.75  0.425786  0.526280  0.329009
534447    607   133.533333   167.142857   102.50  0.219989  0.275359  0.168863
534455    220    40.733333    50.571429    31.25  0.185152  0.229870  0.142045
539121    343   127.066667   138.000000   120.00  0.370457  0.402332  0.349854
539139   6849  1236.400000  1418.000000  1087.25  0.180523  0.207038  0.158746
539198   3410   841.000000   909.857143   768.00  0.246628  0.266820  0.225220
539341    707   225.000000   250.285714   199.00  0.318246  0.354011  0.281471
539392    943   282.266667   303.142857   257.25  0.299328  0.321466  0.272800
539406   1408   426.533333   464.714286   390.25  0.302936  0.330053  0.277166
539643   3217   311.000000   387.428571   241.25  0.096674  0.120432  0.074992
539651   1110   370.866667   398.571429   339.75  0.334114  0.359073  0.306081
539759   1321   390.266667   428.142857   342.75  0.295433  0.324105  0.259463
539830    487    79.133333    90.714286    69.75  0.162491  0.186272  0.143224
539856   1596   311.000000   334.428571   288.00  0.194862  0.209542  0.180451
540111   8672  1335.466667  1700.857143   970.75  0.153998  0.196132  0.111941
540765   4632  1481.400000  1639.285714  1309.75  0.319819  0.353905  0.282761
541541    589    95.533333   107.714286    88.25  0.162196  0.182877  0.149830
571261    519   154.666667   180.857143   131.50  0.298009  0.348472  0.253372
571318    221    44.533333    53.285714    35.50  0.201508  0.241112  0.160633
599417    281    50.266667    59.285714    41.75  0.178885  0.210981  0.148577
599727    469   271.733333   300.000000   236.75  0.579389  0.639659  0.504797

### Plotting

#### Title

In [22]:
tag = get_tag_from_file(SRC_S1, 8)
title = tax.get_text_from_tag(tag, name='CZnosp')

title

'BydliciSLDB'

In [33]:
for index, row in df.iterrows():
            
    fig, ax = plt.subplots()
    
    # limits
    plt.ylim(0.0, 1.0)
    
    # titles 
    plt.suptitle(title, y=1.05, fontsize=17)
    
    name = regions.get_text_from_tag(tag=str(index), name='inWritingCZ')
    ax.set_title(name)
    
    #ax.set_xlabel('Distribution')
    #ax.set_ylabel('Value')
    
    ## add patch_artist=True option to ax.boxplot() 
    ## to get fill color
    #bp = plt.boxplot(df, patch_artist=True, zorder=-1)
    _, bp = pd.DataFrame.boxplot(df, column=['avg2', 'avg3', 'avg4'], return_type='both', patch_artist=True, zorder=1)
        
    for tick, label in zip([1, 2, 3], ax.get_xticklabels()):
        ax.text(tick, 0.75, bp['medians'][0].get_ydata()[0], horizontalalignment='center', size='x-small')
    

                
    ax.set_xticklabels(['D2 / D1', 'D3 / D4', 'D4 / D1'], rotation='vertical')
    
    plt.plot(1, row['avg2'], 'rD', markersize=5)
    plt.plot(2, row['avg3'], 'rD', markersize=5)
    plt.plot(3, row['avg4'], 'rD', markersize=5)
    
    plt.savefig('data/foo_{}.eps'.format(index), bbox_inches='tight', format='eps', dpi=1000)
    
    plt.clf()
    plt.close(fig)

In [ ]:
create_plots(S1, S2, groups=list(), index=8, name='CZnosp')